.container{
    bottom: 0;
    color: #A9A9A9;
    font-family: 'Montserrat';
    text-align: center;
    position: absolute;
    line-height: 17px;
    width: 100%;
}

.link{
    color: #A9A9A9;
    font-family: 'Montserrat';
    font-weight: 700;
    text-decoration: underline;
}